{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="background-color:rgba(14, 134, 240, 0.4);font-size:300%;padding-left:5%;color:rgb(7, 7, 250);">
<img src="{% static 'train.png' %}" class="icon">
DASHBOARD
<a href="login">
        <div class='login'>
                <img class="login_img" src="{% static 'img6Q.png' %}">
                {{fname}}<br>
                {{lname}}
        </div>
</a>
</div>
<div class="dash">
        <a href="dash"><div class="dash_option">
                SEARCH TRAIN
        </div></a>
        <a href="ticket"><div class="dash_option">
                TICKET STATUS
        </div></a>
        <a href="cancel"><div class="dash_option">
                CANCEL TICKET
        </div></a>
        <a href="reset"><div class="dash_option">
                RESET
        </div></a>
        <div style="height:2.4em;width:100%;padding-top:2%;border-top:1.5px solid white;text-align:center;">
        </div>
</div>
<div class="dash_view">
        <div style="font-family:sans-serif;font-size:1.8em;text-align:center;">SEARCH</div>
        <form style="margin-left:5%;" action="trainsearch" method="POST">
                {% csrf_token %}
                <p><label for="dash_search_from">FROM&nbsp;<select class='inp' name='dash_search_from'style="width:max-content;">
                        {% for a in train %}
                        <option>{{a.tstart}}</option>
                        {% endfor %}
                </select></label></p>
                <p><label for="dash_search_to">TO&nbsp;<select class='inp' name='dash_search_to' style="width:max-content;">
                        {% for b in train %}
                        <option>{{b.tend}}</option>
                        {% endfor %}
                </select></label></p>
                <p><label for="dash_search_date">DATE&nbsp;<input name="dash_search_date" class="inp" type="date" required></label></p>
                <p><input type="submit" value="Submit" class="sub"></p>
        </form>
</div>
{% endblock %}