<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RAILWAY</title>
</head>
<body>
    <h1 style="text-align: center;color:red;">PROBLEM OCCURED</h1>
    <center><a style="text-align:center;text-decoration:none;font-size:180%;color:black;background-color:rgb(222, 226, 215);padding:0.6%;
        border: 3px solid rgb(190, 103, 53);" href={{status}}>BACK</a></center>
</body>
</html>