{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="background-color:rgba(14, 134, 240, 0.4);font-size:300%;padding-left:5%;color:rgb(7, 7, 250);">
<img src="{% static 'train.png' %}" class="icon">
DASHBOARD
<a href="login">
        <div class='login'>
                <img class="login_img" src="{% static 'img6Q.png' %}">
                {{fname}}<br>
                {{lname}}
        </div>
</a>
</div>
<div class="dash">
        <a href="dash"><div class="dash_option">
                SEARCH TRAIN
        </div></a>
        <a href="ticket"><div class="dash_option">
                TICKET STATUS
        </div></a>
        <a href="cancel"><div class="dash_option">
                CANCEL TICKET
        </div></a>
        <a href="reset"><div class="dash_option">
                RESET
        </div></a>
        <div style="height:2.4em;width:100%;padding-top:2%;border-top:1.5px solid white;text-align:center;">
        </div>
</div>
<div class="dash_view">
        <div style="font-family:sans-serif;font-size:1.8em;text-align:center;">RESET SYSTEM</div>
        <div>
            <span>
                <p>This option will reset everything to initial settings.
                    For visiting the project you have to reopen the command prompt window and go through the whole process again.</p>
                <p style="color:crimson">Make sure to reset when transfering the project to other system so that it doesn't carry initial settings and user data with it.</p>
            </span>
        </div>
        <form method="POST" action="reset" style="text-align: center;">
            {% csrf_token %}
            <input type="submit" class="sub" value="RESET">
        </form>
</div>
{% endblock %}